[Desktop Entry]
Type=Application
Name=PulseForge
GenericName=Audio Enhancer
Comment=Native Linux audio enhancement app for PipeWire
TryExec=pulseforge
Exec=pulseforge
Icon=pulseforge
Categories=Audio;AudioVideo;Utility;
Keywords=audio;sound;pipewire;equalizer;eq;enhancement;
StartupNotify=true
StartupWMClass=PulseForge
